@import '../../_styles/constants.scss';

.editRecipeBlock {
  max-width: 1200px;
  margin: 0 auto;
  .pageTitle {
    display: flex;
    justify-content: center;
    margin: 35px 0;
    color: $greySecondaryColor;
  }
  .editForm {
    width: 70%;
    margin: 0 auto;
    padding: 35px 0;
    .label {
      font-weight: bold;
      color: $greySecondaryColor;
    }
    .description {
      height: 250px !important;
    }
    .buttonGroup {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: 0 auto;
      width: 70%;
      .formButton {
        padding: 5px 25px;
        margin: 15px;
      }
    }
  }
}
