@import "../../_styles/constants.scss";

.addRecipeBlock {
  max-width: 1200px;
  margin: 0 auto;
  .pageTitle {
    display: flex;
    justify-content: center;
    margin: 35px 0;
    color: $greySecondaryColor;
  }
  .addForm {
    width: 70%;
    margin: 0 auto;
    padding: 35px 0;
    .label {
      font-weight: bold;
      color: $greySecondaryColor;
    }
    .description {
      height: 250px !important;
    }
    .formButton {
      display: flex;
      justify-content: space-evenly;
      margin: 0 auto;
      padding: 5px;
      width: 125px;
    }
  }
}
